<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BcuApiDotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BcuApiDotNet.Properties.Settings>
            <setting name="BcuApiDotNet_uy_gub_bcu_cotizaciones_wsbcucotizaciones"
                serializeAs="String">
                <value>https://cotizaciones.bcu.gub.uy/wscotizaciones/servlet/awsbcucotizaciones</value>
            </setting>
            <setting name="BcuApiDotNet_uy_gub_bcu_monedas_wsbcumonedas"
                serializeAs="String">
                <value>https://cotizaciones.bcu.gub.uy/wscotizaciones/servlet/awsbcumonedas</value>
            </setting>
            <setting name="BcuApiDotNet_uy_gub_bcu_ultimocierre_wsultimocierre"
                serializeAs="String">
                <value>https://cotizaciones.bcu.gub.uy/wscotizaciones/servlet/awsultimocierre</value>
            </setting>
        </BcuApiDotNet.Properties.Settings>
    </applicationSettings>
</configuration>